<form [formGroup]="form" (ngSubmit)="changePassword()" class="mt-3 mb-5">
    <div class="mb-3">
        <label>Current Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>

    <div class="mb-3">
        <label>New Password</label>
        <input type="password" class="form-control" formControlName="newPassword">
    </div>

    <button class="btn btn-warning w-100" type="submit" [disabled]="loading">Change Password</button>
    <div *ngIf="success" class="alert alert-success mt-2">{{ success }}</div>
    <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
</form>