<button class="btn btn-close-offcanvas">
    <i class="bi bi-list" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"></i>
</button>

<!-- Offcanvas with a fancy list -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title handwriting-3" id="offcanvasWithBothOptionsLabel">Proform</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Fancy List -->
        <ul class="list-unstyled">
            <li class="menu-item">
                <a routerLink="/" class="d-flex align-items-center" data-bs-dismiss="offcanvas">
                    <i class="bi bi-house-door-fill menu-icon"></i>
                    <span class="menu-text">Home</span>
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/account" class="d-flex align-items-center" data-bs-dismiss="offcanvas">
                    <i class="bi bi-person-fill menu-icon"></i>
                    <span class="menu-text">Account</span>
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/measurements" class="d-flex align-items-center" data-bs-dismiss="offcanvas">
                    <i class="bi bi-rulers menu-icon"></i>
                    <span class="menu-text">Measurements</span>
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/photo-albums" class="d-flex align-items-center" data-bs-dismiss="offcanvas">
                    <i class="bi bi-images menu-icon"></i>
                    <span class="menu-text">Photo Albums</span>
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/gym-plans" class="d-flex align-items-center" data-bs-dismiss="offcanvas">
                    <i class="bi bi-card-list menu-icon"></i>
                    <span class="menu-text">Gym Plans</span>
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/workout-logs" class="d-flex align-items-center" data-bs-dismiss="offcanvas">
                    <i class="bi bi-list-check menu-icon"></i>
                    <span class="menu-text">Workout Logs</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="" (click)="logout()" class="d-flex align-items-center" data-bs-dismiss="offcanvas">
                    <i class="bi bi-box-arrow-right menu-icon"></i>
                    <span class="menu-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>