<button class="btn">
    <i class="bi bi-list" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"></i>
</button>

<!-- Offcanvas with a fancy list -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Fancy List -->
        <ul class="list-unstyled">
            <li class="menu-item">
                <a href="#" class="d-flex align-items-center">
                    <i class="bi bi-house-door-fill menu-icon"></i>
                    <span class="menu-text">Home</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="d-flex align-items-center">
                    <i class="bi bi-person-fill menu-icon"></i>
                    <span class="menu-text">Account</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="d-flex align-items-center">
                    <i class="bi bi-box-arrow-right menu-icon"></i>
                    <span class="menu-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>